<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}GDP{% endblock %}</title>
 <link rel="icon" href="/static/images/logo.jpg" type="image/x-icon">
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>


		<script src="/static/js/jquery.easing.1.3.js" type="text/javascript"></script>
		<script src="/static/js/jquery.booklet.1.1.0.min.js" type="text/javascript"></script>

		<link href="/static/css/jquery.booklet.1.1.0.css" type="text/css" rel="stylesheet" media="screen" />
		
		<style>
		.navbar-inner{
		height:50px;
		border:1px solid #eee;
				}
				.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.nav .menuText{
line-height:36px;
width: 152px !important;
}
.caret{
margin-top:16px !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #0081C2;
    background-image: -moz-linear-gradient(center top , 	#808080 , #C8C8C8 );
    background-repeat: repeat-x;
    
    color: #FFFFFF;
    text-decoration: none;
}
.table-container table thead{
background-color:#686868 ;
}
.table-container table th a{
color:#eee ;
}
#googleMap img {
  max-width: none;display:inline; 
}
.pagination{
list-style: none outside none;

}
.main{
min-height:200px;
}
.form-horizontal .control-label {
    text-align: left;
    margin-left: 100px;
   
}
.control-text
{
    color: #909090;
    font-size: 10px;
    line-height: 13px;
    margin-left: 100px;
    width: 458px;
}
	</style>
{% block additional_js %}{% endblock %}
</head>

<body>

<div class="main">

 <div class="header">

 <!-- logo box main -->

 <div class="logoboxmain">
 <div class="logoboxleft">
<img src="/static/images/logo.jpg"></div>

 <div class="logoboxright" style="margin-top:14px;width:268;height:56px;">
 <div style="float:right;">
 <input type="text" class="" placeholder="Explore the vault"/><input type="button"  style="margin-bottom:10px;" class="btn btn-default" value="Go"/>
 </div>
 <div style="float:right;">
 <a href="/register" >Register </a> /<a href="/login" >Sign In </a>
 </div>
 </div>


 </div>

  <!-- logo box main close -->
<div class="navbar">
              <div class="navbar-inner">
                
                	<div class="container">
                  <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li class="menuText"><a href="/"><b>HOME</b></a></li>
                      <li class="dropdown menuText">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/features/"><b>FEATURES</b> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="/outposts/">OUTPOSTS</a></li>
                          <li><a href="/inspiration/">INSPIRATION</a></li>
                          <li><a href="/colors/">COLOR</a></li>
                          <li><a href="#">DESIGN MATTERS</a></li>
                        </ul>
                      </li>
                      <li class="dropdown menuText">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bazaar/"><b>BAZAAR</b> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">PRODUCTS WE LOVE</a></li>
                          
                        </ul>
                      </li>
                      <li class="dropdown menuText">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/mygdp/"><b>MY GDP</b> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li ><a href="/register/">REGISTRATION</a></li>
                          <li class=""><a href="/myProfile/">PROFILE</a></li>
                          <li class=""><a href="#">SUBMIT</a></li>
                          
                        </ul>
                      </li>
                      <li class="menuText"><a href="/addimage/"><b>FAVOURITES</b></a></li>
                      <li class="menuText"><a href="/feed/"><b>VAULT</b></a></li>
                      <li  style="width:10px;margin-top:15px;"><span class="badge badge-warning"><a href="#"><b>?</b></a></span></li>
                    </ul>
                    
                   
                  </div><!-- /.nav-collapse -->
                </div>
                
                
                
                
                
                
                
                
                
                
                
                
              </div>
            </div>
 <!--
    <div class=" menubox">


     <ul><li><a href="index.html">HOME</a></li>
  <li><a href="favurate.html">FEATURES</a></li>
  <li>
<a href="/bazaar/">BAZAAR</a>
<ul>
  <li>  Design</li>
      <li>  Development</li>
      <li>Illustrations</li>
       <li>  Design</li>
      <li>  Development</li>

  </ul>
  </li>
  <li><a href="/mygdp/">MY GDP</a>
  <ul>
  <li>  <a href="favurate.html">Join/Registration</a></li>
      <li> <a href="/myProfile/">Profile</a></li>

  </ul>
  
  </li>
  <li><a href="/favorites/">FAVORITES</a></li>

  <li>VAULT</li>
</ul>


    </div>
-->


    <div class="globelogotextbox"><img style="" src="/static/GPD---Layout--interior1-color.jpg"/></div>

    
    
    
    </div>
    
    <!-- content -->
    <div class="row-fluid" style="margin-top:15px;">
  <div class="span12">
    {% block content %}{% endblock %}
    </div>
    
     <!--footer -->

<div class="footer">

<div class="footerleftvie">

  <div id="footer">
    <div class="menu">
        <a href="#">
ABOUT  |      </a>
        <a href="#">PRESS  |</a>
        <a href="#">PARTNERS  |</a>
        <a href="#"> SITE MAP  |</a>
        <a href="#">ADVERTISE WITH US  |</a>
        <a href="#"> TERMS OF SERVICE  |</a>

        <a href="#">    PRIVACY POLICY</a>
    </div>
</div>



</div>

<div class="footerrightvie">
<div class="iconmain">

<div class="icon1">
  <img src="/static/images/fb-icon.jpg" width="29" height="24" alt="fb-icon" /></div>


<div class="icon1"><img src="/static/images/tw.jpg" width="29" height="24" alt="tw" /></div>


<div class="icon1"><img src="/static/images/pin.jpg" width="29" height="24" alt="pin" /></div>



<div class="icon1"><img src="/static/images/yet.jpg" width="29" height="24" alt="yet" /></div>


</div>

<div class="©2013box">
©2013 Global Design Post
<div class="©2013box">Design & Development by CommonPlaces Inc.</div>


</div>


</div>

</div>

    <!--footer close -->



 </div>



<script type="text/javascript">
			$(function() {
				var $mybook 		= $('#mybook');
				var $bttn_next		= $('#next_page_button');
				var $bttn_prev		= $('#prev_page_button');
				var $loading		= $('#loading');
				var $mybook_images	= $mybook.find('img');
				var cnt_images		= $mybook_images.length;
				var loaded			= 0;
				//preload all the images in the book,
				//and then call the booklet plugin

				$mybook_images.each(function(){
					var $img 	= $(this);
					var source	= $img.attr('src');
					$('<img/>').load(function(){
						++loaded;
						if(loaded == cnt_images){
							$loading.hide();
							$bttn_next.show();
							$bttn_prev.show();
							$mybook.show().booklet({
								name:               null,                            // name of the booklet to display in the document title bar
								width:              800,                             // container width
								height:             270,                             // container height
								speed:              600,                             // speed of the transition between pages
								direction:          'LTR',                           // direction of the overall content organization, default LTR, left to right, can be RTL for languages which read right to left
								startingPage:       0,                               // index of the first page to be displayed
								easing:             'easeInOutQuad',                 // easing method for complete transition
								easeIn:             'easeInQuad',                    // easing method for first half of transition
								easeOut:            'easeOutQuad',                   // easing method for second half of transition
								auto:               true,
								closed:             false,                           // start with the book "closed", will add empty pages to beginning and end of book
								closedFrontTitle:   null,                            // used with "closed", "menu" and "pageSelector", determines title of blank starting page
								closedFrontChapter: null,                            // used with "closed", "menu" and "chapterSelector", determines chapter name of blank starting page
								closedBackTitle:    null,                            // used with "closed", "menu" and "pageSelector", determines chapter name of blank ending page
								closedBackChapter:  null,                            // used with "closed", "menu" and "chapterSelector", determines chapter name of blank ending page
								covers:             false,                           // used with  "closed", makes first and last pages into covers, without page numbers (if enabled)

								pagePadding:        10,                              // padding for each page wrapper
								pageNumbers:        true,                            // display page numbers on each page

								hovers:             false,                            // enables preview pageturn hover animation, shows a small preview of previous or next page on hover
								overlays:           false,                            // enables navigation using a page sized overlay, when enabled links inside the content will not be clickable
								tabs:               false,                           // adds tabs along the top of the pages
								tabWidth:           60,                              // set the width of the tabs
								tabHeight:          20,                              // set the height of the tabs
								arrows:             false,                           // adds arrows overlayed over the book edges
								cursor:             'pointer',                       // cursor css setting for side bar areas

								hash:               false,                           // enables navigation using a hash string, ex: #/page/1 for page 1, will affect all booklets with 'hash' enabled
								keyboard:           true,                            // enables navigation with arrow keys (left: previous, right: next)
								next:               $bttn_next,          			// selector for element to use as click trigger for next page
								prev:               $bttn_prev,          			// selector for element to use as click trigger for previous page

								menu:               null,                            // selector for element to use as the menu area, required for 'pageSelector'
								pageSelector:       false,                           // enables navigation with a dropdown menu of pages, requires 'menu'
								chapterSelector:    false,                           // enables navigation with a dropdown menu of chapters, determined by the "rel" attribute, requires 'menu'

								shadows:            true,                            // display shadows on page animations
								shadowTopFwdWidth:  166,                             // shadow width for top forward anim
								shadowTopBackWidth: 166,                             // shadow width for top back anim
								shadowBtmWidth:     50,                              // shadow width for bottom shadow

								before:             function(){},                    // callback invoked before each page turn animation
								after:              function(){}                     // callback invoked after each page turn animation
							});
							Cufon.refresh();
						}
					}).attr('src',source);
				});

			});
        </script>

</div>

</body>
</html>
