

{% extends "base_template.html" %}
{% block title %}GDP{% endblock %}

{% block additional_js %}
<style>
.MIDDLELEFT615 {
    background-color: #F2F2F2;
    border: 1px solid #EEEEEE;
    float: left;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
    width: 1088px;
}
.MIDDLERIGHTBOX1 {
    border: 1px solid #EEEEEE;
    height: 298px;
    margin: 0 0 20px;
    padding: 0;
    width: 350px;
}
.adCTAbox {
    border: 1px solid #EEEEEE;
    height: 110px;
    margin: 0 0 20px;
    padding: 0;
    width: 300px;
}
.MIDDLERIGHTBOX {
    border: 1px solid #EEEEEE;
    height: 200px;
    margin: 0 0 20px;
    padding: 0;
    width: 350px;
}
.MIDDLERIGHTBOX2 {
    border: 1px solid #EEEEEE;
    height: 586px;
    margin: 0 0 20px;
    padding: 0;
    width: 350px;
}
.EDITORS {
    height: auto;
    margin: 0;
    padding: 13px;
    width: 1022px;
}
.EDITORSboxmain {
    height: 158px;
    margin: 0 0 9px;
    padding: 0;
    width: 1062px;
}
.EDITORSleftinspire {
    background-color: #FFFFFF;
    float: left;
    height: 155px;
    margin: 0 4px 0 0;
    padding: 0;
    width: 233px;
}
.EDITORSrightinspire {

    height: 149px;
    margin: 0;
    padding: 4px;
    width: 803px;
}
.MIDDLELEFT200 {
    border: 1px solid #EEEEEE;
    float: right;
    height: 286px;
    padding: 0;
    width: 248px;
}
.MIDDLELEFT200H {
    border: 1px solid #EEEEEE;
    float: right;
    height: 596px;
    padding: 0;
    width: 248px;
}
.MIDDLELEFT450 {
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    float: left;
    height: 286px;
    margin-right: 20px;
    padding: 0;
    position: relative;
    width: 450px;
    margin-bottom: 22px;
}
.MIDDLELEFT650 {
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    float: left;
    height: 200px;
    margin-right: 20px;
    padding: 0;
    position: relative;
    width: 720px;
    margin-bottom: 22px;
}

</style>
{% endblock %}
{% block content %}

<div class="row-fluid">
  <div class="span12">

 
 
 
 
 <div class="MIDDLELEFT615">

      <div class="EDITORS">

      <div class="EDITORSboxmain">

      <div class="EDITORSleftinspire">asdbdskjn</div>

      <div class="EDITORSrightinspire">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>




       </div>




      </div>
      
      
      
      <div class="MIDDLEMAIN">

	      <div class="MIDDLELEFT">
	      
      <div>

      <div class="MIDDLELEFT450">DSASDAS</div>

      <div class="MIDDLELEFT200H">QWQW	QW</div>

<div class="MIDDLELEFT450">DSASDAS</div>
<div class="MIDDLELEFT650">DSASDAS</div>
<div>

      <div class="MIDDLELEFT450"><img height="250" width="480" alt="2BOX" src="/static/images/c1.jpg">

      
      </div>

      <div class="MIDDLELEFT200">QWQW	QW</div>


      </div>
      
      </div>
	      </div>
	      <div class="MIDDLERIGHT">


	      <div class="MIDDLERIGHTBOX">Register Now CTA</div>
	
	      <div class="MIDDLERIGHTBOX">Social Icons</div>
	
	
	      <div class="MIDDLERIGHTBOX">Video Block</div>
	
	      <div class="MIDDLERIGHTBOX">Video Block</div>
	
	      <div class="adCTAbox">ad/CTA</div>
	
	      <div class="adCTAbox">ad/CTA2</div>
	
	
	      </div>
	      
	      
	      
	      
	      
      </div>
      
 
 
</div>
</div>
{% endblock %}