

{% extends "base_template.html" %}
{% block title %}GDP{% endblock %}

{% block additional_js %}
<style>
.MIDDLELEFT615 {
    background-color: #F2F2F2;
    border: 1px solid #EEEEEE;
    float: left;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
    width: 1088px;
}
.EDITORS {
    height: auto;
    margin: 0;
    padding: 13px;
    width: 1022px;
}
.EDITORSboxmain {
    height: 158px;
    margin: 0 0 9px;
    padding: 0;
    width: 1062px;
}
.EDITORSleftinspire {
    background-color: #FFFFFF;
    float: left;
    height: 155px;
    margin: 0 4px 0 0;
    padding: 0;
    width: 233px;
}
.EDITORSrightinspire {

    height: 149px;
    margin: 0;
    padding: 4px;
    width: 803px;
}
</style>
{% endblock %}
{% block content %}

<div class="row-fluid">
  <div class="span12">

 
 
 
 
 <div class="MIDDLELEFT615">

      <div class="EDITORS">

      <div class="EDITORSboxmain">

      <div class="EDITORSleftinspire">asdbdskjn</div>

      <div class="EDITORSrightinspire">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>




       </div>




      </div>
 
 
</div>
</div>
{% endblock %}