{% extends "base_template.html" %}
{% block title %}GDP{% endblock %}

{% block additional_js %}

<script>
$(document).ready(
    function(){

    $('.contentdisplay img').each(
        function(){
            var theWidth = $(this).width();
            var theHeight = $(this).height();

            $(this).css({'height': theHeight / 2 + 'px', 'width': theWidth / 2 + 'px'});
        });
        
        $('.subBtn').click(function(){
   
   updateTextArea();
    $( ".vaultform" ).submit();
   });
        
    });
    
    function updateTextArea() {         
     var allVals = "";
     $('.chk_feed input:checked').each(function() {
      if (allVals == ""){
      allVals = $(this).val();
      }
      else{
      allVals = allVals+","+$(this).val();
      }
       
     });
     alert(allVals);
     $('#hdnChk').val(allVals);
  }
</script>
<style>
.vaultform input,select{
width:150px;

}
.contentdisplay input {display:none;}
.chk_feed input {display:block;}
</style>

{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12">   
	<div class="contentdisplay" style="overflow:auto;">
	{% autoescape off %}

	 {% load django_tables2 %}
	{% render_table table %}
	<form class="form-horizontal vaultform" action="." method ="post" enctype="multipart/form-data">
	{% csrf_token %}
				     <fieldset>
				     <table><tr>
				     <td width="100"><b>Sumbit to:</b>
				     </td>
				    {% for field in form %}
				    <td>
				     {{ field }}
				    </td>
				    {% endfor %}
				    
			<td>
			<input type="hidden" id="hdnChk" name="hdnCheck" value=""/>
    <a  class="btn btn-default subBtn" href="#" >Submit</a>
    </td>
				</tr> </table>
				     </fieldset>
				    </form>
	{% endautoescape %}
	</div> 
  </div>
</div>

{% endblock %}









