{% extends "base_template.html" %}
{% block title %}GDP{% endblock %}
{% block additional_js %}{% endblock %}
{% block content %}

<!--slider div -->

    <div class="slider" style="height:300px;">
    <div class="book_wrapper">
			<a id="next_page_button"></a>
			<a id="prev_page_button"></a>
			<div id="loading" class="loading">Loading pages...</div>
			<div id="mybook" style="display:none;">
		  <div class="b-load">
					<div>
						<img src="/static/images/1.jpg" style="" alt=""/>

					</div>
					<div>
						<img src="/static/images/2.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/3.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/4.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/5.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/6.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/7.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/8.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/9.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/10.jpg" alt="" />
						<h1>Compact News Previewer</h1>

					</div>
					<div>
						<img src="/static/images/11.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/12.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/13.jpg" alt="" />

					</div>
					<div>
						<img src="/static/images/14.jpg" alt="" />

					</div>
				</div>
			</div>
		</div>


 </div>


     <!--slider div close -->

          <!--BOX MAIN -->


    <DIV class="BOXMAIN">

     <DIV class="BOXMAIN1">

     <DIV class="IMGBORDER"><img src="/static/images/1BOX.jpg" width="292" height="256" alt="1BOX" /></DIV>

     <DIV class="BOXCLICKTEXT"> LOOKING FOR SOMETHING</DIV>


     </DIV>


      <DIV class="BOXMAIN1">

     <DIV class="IMGBORDER"> <img src="/static/images/2BOX.jpg" width="292" height="256" alt="2BOX" /></DIV>

     <DIV class="BOXCLICKTEXT"> LOOKING FOR SOMETHING</DIV>


     </DIV>



      <DIV class="BOXMAIN1">

     <DIV class="IMGBORDER"><img src="/static/images/BOX3.jpg" width="292" height="256" alt="BOX3" /></DIV>

     <DIV class="BOXCLICKTEXT"> LOOKING FOR SOMETHING</DIV>


     </DIV>


    </DIV>

      <!--BOX MAIN CLOSE -->

       <!--MIDDLE VIEW -->

      <DIV class="MIDDLEMAIN">

      <DIV class="MIDDLELEFT">

      <DIV>

      <DIV class="MIDDLELEFT450">DSASDAS</DIV>

      <DIV class="MIDDLELEFT200">QWQW	QW</DIV>


      </DIV>



      <div>
      <DIV class="MIDDLELEFT615">

      <DIV class="BOXCLICKTEXT">
EDITORS CHOICE</DIV>


      <DIV  class="EDITORS">

      <div class="EDITORSboxmain">

      <div class="EDITORSleftin">asdbdskjn</div>

      <div class="EDITORSrightin">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>



       <div class="EDITORSboxmain">

      <div class="EDITORSleftin">asdbdskjn</div>

      <div class="EDITORSrightin">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>


       <div class="EDITORSboxmain">

      <div class="EDITORSleftin">asdbdskjn</div>

      <div class="EDITORSrightin">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>


       <div class="EDITORSboxmain">

      <div class="EDITORSleftin">asdbdskjn</div>

      <div class="EDITORSrightin">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>


       <div class="EDITORSboxmain">

 <div class="EDITORSleftin">asdbdskjn</div>

      <div class="EDITORSrightin">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>










      </DIV>







      </DIV>


      </div>
      <div>

        <div class="WELOVE">  LINKS WE LOVE </div>
        <div>
        <br />

         <ul id="flexiselDemo1">

    <li><img src="/static/images/logo-ebay.png" /></li>

    <li><img src="/static/images/logo-youtube.png" /></li>

</ul>

<div class="clearout"></div>





<script type="text/javascript">

$(window).load(function() {
    $("#flexiselDemo1").flexisel();
    $("#flexiselDemo2").flexisel({
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:768,
                visibleItems: 3
            }
        }
    });

    $("#flexiselDemo3").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:768,
                visibleItems: 3
            }
        }
    });

    $("#flexiselDemo4").flexisel({
        clone:false
    });

});
</script>


        </div>




      </div>



      </DIV>
      <div>




      </div>





      <DIV class="MIDDLERIGHT">


      <DIV class="MIDDLERIGHTBOX">Register Now CTA</DIV>

      <DIV class="MIDDLERIGHTBOX">Social Icons</DIV>


      <DIV class="MIDDLERIGHTBOX">Video Block</DIV>

      <DIV class="MIDDLERIGHTBOX">Video Block</DIV>

      <DIV class="adCTAbox">ad/CTA</DIV>

      <DIV class="adCTAbox2">ad/CTA2</DIV>


      </DIV>


      </DIV>

       <!--MIDDLE VIEW -->
{% endblock %}