{% extends "base_template.html" %}
{% block title %}GDP{% endblock %}

{% block additional_js %}

<script src="http://getbootstrap.com/assets/js/holder.js"></script>
{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
  	<div class="MIDDLEMAIN">

      <div class="MIDDLELEFT">

 <div class="row-fluid">
  <div class="span12">    
<h2>INSPIRATION</h2>

<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. </p>

</div>
 </div>
      <div>
      
      <div class="MIDDLELEFT615">

      <div class="EDITORS">

      <div class="EDITORSboxmain">

      <div class="EDITORSleftinspire">asdbdskjn</div>

      <div class="EDITORSrightinspire">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>



       <div class="EDITORSboxmain">

      <div class="EDITORSleftinspire">asdbdskjn</div>

      <div class="EDITORSrightinspire">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>


       <div class="EDITORSboxmain">

      <div class="EDITORSleftinspire">asdbdskjn</div>

      <div class="EDITORSrightinspire">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>


       <div class="EDITORSboxmain">

      <div class="EDITORSleftinspire">asdbdskjn</div>

      <div class="EDITORSrightinspire">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>


       <div class="EDITORSboxmain">

 <div class="EDITORSleftinspire">asdbdskjn</div>

      <div class="EDITORSrightinspire">
       <div class="fontboldsmall">TITLE</div>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
       <p> <a href="#">Link</a></p>



      </div>



       </div>










      </div>







      </div>


      </div>
      <div>

        <div class="WELOVE">  LINKS WE LOVE </div>
        <div>
        <br>

         <div class="nbs-flexisel-container"><div class="nbs-flexisel-inner"><ul id="flexiselDemo1" class="nbs-flexisel-ul" style="left: -155px;">

    <li class="nbs-flexisel-item" style="width: 155px;"><img src="/static/images/logo-youtube.png"></li><li class="nbs-flexisel-item" style="width: 155px;"><img src="/static/images/logo-ebay.png"></li>

    <li class="nbs-flexisel-item" style="width: 155px;"><img src="/static/images/logo-youtube.png"></li>

<li class="nbs-flexisel-item" style="width: 155px;"><img src="/static/images/logo-ebay.png"></li></ul><div class="nbs-flexisel-nav-left" style="top: 17px;"></div><div class="nbs-flexisel-nav-right" style="top: 17px;"></div></div></div>

<div class="clearout"></div>





<script type="text/javascript">

$(window).load(function() {
    $("#flexiselDemo1").flexisel();
    $("#flexiselDemo2").flexisel({
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:768,
                visibleItems: 3
            }
        }
    });

    $("#flexiselDemo3").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:768,
                visibleItems: 3
            }
        }
    });

    $("#flexiselDemo4").flexisel({
        clone:false
    });

});
</script>


        </div>




      </div>



      </div>
      <div>




      </div>





      <div class="MIDDLERIGHT">


      <div class="MIDDLERIGHTBOX">Register Now CTA</div>

      <div class="MIDDLERIGHTBOX">Social Icons</div>


      <div class="MIDDLERIGHTBOX">Video Block</div>

      <div class="MIDDLERIGHTBOX">Video Block</div>

      <div class="adCTAbox">ad/CTA</div>

      <div class="adCTAbox2">ad/CTA2</div>


      </div>


      </div>
  
  
  </div>
  </div>
  {% endblock %}