<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/bootstrap.css"/>
<title>Reset Password</title>

{% block content %}

<script language="javascript">
function alltrim(str)
{
    return str.toString().replace(/^\s+|\s+$/g, '');
}
function hidestuff(s){
   document.getElementById(s).style.visibility="hidden";
}

function submitform()
{
	userName = document.getElementById("id_userName").value;
    choosePassword = document.getElementById("id_choosePassword").value;
    repeatPassword = document.getElementById("id_repeatPassword").value;
    errordiv = document.getElementById("msgDivError");
    resetPassword = document.getElementById("resetPasswordForm");
    successMsg = document.getElementById("successmsg");
    var minLength = 6; // Minimum length
    var re = /[0-9]/;
    if (successMsg)
    {
        successMsg.style.visibility='hidden';
    }

    var alphaNumRegex =   /^\w+$/
    if (alltrim(choosePassword) == "" ||  alltrim(choosePassword) == null)
    {
	    errordiv.style.visibility='visible';
	  	document.getElementById('msg').innerHTML = "Please enter a password.";
	    document.getElementById("id_choosePassword").focus();
	    return false;
     }
    else if (alltrim(repeatPassword) == "" ||  alltrim(repeatPassword) == null)
    {
	    errordiv.style.visibility='visible';
	  	document.getElementById('msg').innerHTML = "Please confirm password.";
	    document.getElementById("id_repeatPassword").focus();
	    return false;
    }
    else
    {
    	if (alltrim(choosePassword) != "" && alltrim(choosePassword) != null)
    	{
    		if (alltrim(choosePassword).length < minLength)
    		{
    			errordiv.style.visibility='visible';
	  			document.getElementById('msg').innerHTML = "Password must be atleast 6 characters long.";
	    		document.getElementById("id_choosePassword").focus();
	    		return false;
    		}
    		else if (!re.test(alltrim(choosePassword)))
    		{
				errordiv.style.visibility='visible';
	  			document.getElementById('msg').innerHTML = "Password must contain at least one number";
	    		document.getElementById("id_choosePassword").focus();
	    		return false;
			}
    	}

    	if (alltrim(choosePassword) != alltrim(repeatPassword))
    	{
    		errordiv.style.visibility='visible';
    		document.getElementById('msg').innerHTML = "Passwords do not match";
	    	document.getElementById("id_repeatPassword").focus();
	    	return false;
    	}
    	 resetPassword.action=".";
    	 resetPassword.submit();
    	 return true;
    }

}

</script>




{% if errorMsg %}<h4 style="color:red">{{errorMsg}}<h4>{% endif %}


</div>
<div  class="container">
<form id="resetPasswordForm" class="form-signin" method="post">
<div id = "commonDiv" style="margin-top:50px">
{% if form.errors %}
<div id="msgDiv" class="alert alert-error" style="text-align:center;">

	<a class="close" href="#" data-dismiss="alert" onclick="hidestuff('msgDiv')">x</a>
	<p>
         {% if  form.choosePassword.errors%}
         			  {{  form.choosePassword.label }}   {{  form.choosePassword.errors|striptags }}
         {% else %}{% if  form.repeatPassword.errors%}
         			  {{  form.repeatPassword.label }}   {{  form.repeatPassword.errors|striptags }}
		 {% endif %}{% endif %}
	</p>
</div>
{% endif %}

{% if success %}
		<div id="successmsg" class="alert alert-success" style="text-align:center;">
			<a  class="close" data-dismiss="alert" href="#" onclick="hidestuff('successmsg')">x</a>
				<p id="msg1">
					{{success}}
				</p>
		</div>.
{% endif %}
<div id="msgDivError" class="alert alert-error"  style="visibility:hidden;text-align:center;">
	<a  class="close" data-dismiss="alert" href="#" onclick="hidestuff('msgDivError')">x</a>
		<p id="msg">

		</p>
</div>
</div>
<h3 style="margin-left:auto; margin-left:auto;text-align:center">Reset your password!!</h3>
<fieldset class="bordered-table" style="border: 10px solid #ddd">
<div style="width:300px;margin-left:auto;margin-right:auto;">
<table style="width:300px;margin-left:auto;margin-right:auto;>

<tr style=" width:400px;">
<td COLSPAN="2" style=" border: 0px none black;">
<b>{{form.userName.label}}</b><br>{{form.userName}}
</td>
</tr>

<tr style=" width:400px;">
<td COLSPAN="2" style=" border: 0px none black;">
<b>{{form.choosePassword.label}}</b><br>{{form.choosePassword}}
</td>
</tr>
<tr style=" width:400px;">
<td COLSPAN="2" style=" border: 0px none black;">
<b>{{form.repeatPassword.label}}</b><br>{{form.repeatPassword}}<br><span class="help-block">6 characters or longer with atleast one number is safe</span>
</td>
</tr>
<tr style=" width:400px;">
<td COLSPAN="2" style=" border: 0px none black">
<div style="width:200px;margin-left:90px;margin-right:auto;">
<input type="button" class="btn success" value="Reset Password" onclick="submitform()"/>
</div></td>
</tr>


</table>
</fieldset>
</form>
</div>
<script language="javascript">
document.getElementById("id_userName").readOnly="readonly";
</script>
{% endblock %}